!!!
%html
  %title Groovedown
  %link{:rel => "stylesheet", :type => "text/css", :href => "/css/groovedown.css"}
  %script{:type => "text/javascript", :src => "http://www.google.com/jsapi"}
  %script{:src => "jqtouch/jqtouch.min.js", :type=> "application/x-javascript", :charset => "utf-8"}


  %body
    #wrap
      = yield